<% include header.ejs %>
<% include top-nav.ejs%>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                SceneEditor
            </h3>
        </div>
    </div>
</div>

<% include footer.ejs%>