<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">

        <a class="navbar-brand" href="/" style="margin-right: 10px;height: 50px;padding: 2px;"><img src="/img/sanwu_48.png" alt=""/>SceneEditor</a>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/editor" target="_blank">New File</a>

                </li>
                <li class="active">
                    <a href="/dae/upload">Upload</a>
                </li>
                <li>
                    <a href="#">Resource</a>
                </li>
                <li >
                    <a href="#">Projects</a>
                </li>
                <li>
                    <a href="#">Popular</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="../#">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>